body{
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
    color: #333;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 5em;
    margin: 0 auto;
  }

  nav {

  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  li {
    line-height: 3.2em;
    float: right;
  }
  
  li a {
    display: block;
    color: #aaaaaa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    color: #111;
  }

  section h1{
    color: #4aaaa5;
  }

  section div{
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc; 
    margin-bottom: 20px;
  }

br{
  border: 1px solid #cccccc;
}

  footer{
    color: #333;
    background: #666666;
    height: 3em;
  }

  footer p{
    color: #aaaaaa;
    margin: 0 auto;
    text-align: center;
  }

  .background {
    overflow: hidden;
    background-image: url("../../assets/images/memphis-mini.png");
  }

  .logo{
    color: #ffffff;
    background: #4aaaa5;
    float: left;
    width: 20em;
    text-align: center;
    height: 5em;
    vertical-align: middle;
  }

  .content{
    clear: both;
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #333;
    margin-top: 50px; 
    margin-bottom: 50px;
    padding: 30px;
}


.center{
  width: 960px;
  margin: 0 auto;
}

.bioImage{
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}
.accent{
    clear: both;
    background-color: #4aaaa5;
    height: 5px;
}
